<div class="row form-panel">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form ng-show="showForm" class="form-signin">
			<img class="img-responsive" src="assets/lapig.png" />
			<div class="form-signin-heading" >
				Pemeriksaan Visual Temporal
				<b>INDONESIA</b>
			</div>
		  <input class="form-control field-login" type="text" placeholder="Nama" ng-model="name">
		  <input class="form-control field-login" type="password" placeholder="Kata Sandi" ng-model="senha">
		  <input class="form-control field-login" type="text" placeholder="kampanye" ng-model="campaign">
		  <div ng-show="showMsg" class="alert alert-warning input" role="alert">Gagal saat mencoba masuk</div>
		  <button class="btn btn-lg btn-default btn-block" ng-click="submit(name, senha, campaign)" type="submit">Masuk</button>
		</form>
	</div>
</div>
